{
  "mcpServers": {
    "ansys-server": {
      "command": "python",
      "args": [
        "<GRPD_PROJECT_ROOT_PATH>\\tools\\ansys-mcp-server\\server.py"
      ],
      "cwd": "<GRPD_PROJECT_ROOT_PATH>\\tools\\ansys-mcp-server",
      "timeout": 3600000
    },
    "path-comparison-mcp-server": {
      "command": "python",
      "args": [
        "<GRPD_PROJECT_ROOT_PATH>\\tools\\path-comparison-mcp-server\\server.py"
      ],
      "cwd": "<GRPD_PROJECT_ROOT_PATH>\\tools\\path-comparison-mcp-server",
      "timeout": 600000
    },
    "grpd-server": {
      "command": "python",
      "args": [
        "<GRPD_PROJECT_ROOT_PATH>\\tools\\grpd-mcp-server\\server.py"
      ],
      "cwd": "<GRPD_PROJECT_ROOT_PATH>\\tools\\grpd-mcp-server",
      "timeout": 3600000
    },
    "grpd-experiment-server": {
      "command": "python",
      "args": [
        "<GRPD_PROJECT_ROOT_PATH>\\tools\\grpd-experiment-mcp-server\\server.py"
      ],
      "cwd": "<GRPD_PROJECT_ROOT_PATH>\\tools\\grpd-experiment-mcp-server",
      "timeout": 600000
    },
    "point-integration-matlab-server": {
      "command": "python",
      "args": [
        "<GRPD_PROJECT_ROOT_PATH>\\tools\\point-integration-matlab-mcp-server\\server.py"
      ],
      "cwd": "<GRPD_PROJECT_ROOT_PATH>\\tools\\point-integration-matlab-mcp-server",
      "timeout": 600000
    }
  }
}
